/* CSS reset */
*{
    margin: 0px;
    padding: 0px;

}
/* CSS Variables */
:root{
    /* root appa uddo use krde jado apa chahne ki variables da scope sarre blocks ch active rahe  */
    --navbar-height:50px;
}
/* logo  */
#logo{
    height: 202px;
    width: 200px;
}
#logoPic{
    
        width: 94%;
        height: 92%;
        margin: 9px 10px;
}
/* Navigation Bar  */
#navbar{
    position:absolute;   /*appe kitta to see changes */
    display: flex;
    align-items: center;
    width: 100%;
}
#navbar ul{
    display: flex;
}
#navbar::before{
    content:"" ;
    position: absolute;
    background-color: black;
    height: 100%;
    width: 100%;
    z-index: -1;
    /* opacity: 0.1; */
    /* this is the opacity of the grey color we added to the nav bar */
}
#navbar ul li{  
    list-style: none;
}
#navbar ul li a{
    font-size: 1.6rem;
    color: white;
    display: block;
    padding: 6px 22px;
    border-radius: 15px;
    text-decoration: none;
    font-family: 'Squada One', cursive;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
    font-size: 2rem;
}
/* Home Section   */
#home{
    /* border :3px solid blue; */
    display: flex;
    flex-direction: column;
    padding: 15rem 10rem;
    /* justify-content: center; */
    align-items: center;
    height: 13rem;
}
#home::before{
    /* border :3px solid red; */
    content:"" ;
    top:0px;
    position:absolute;
    background:url('../img/bg.jpg ');
    background-repeat: no-repeat;
    background-size: cover; /* Resize the background image to cover the entire container */
    background-position: center; /* Center the image */
    height: 43rem;
    width: 100%;
    z-index: -1;
    opacity: 0.9;/*this is the opacity of the background(food vala) */
}
#home h1{
    /* border :3px solid green; */
    color: #400d0d;
    text-align:center;
    /* font-family: 'Squada One', cursive; */
    font-family: 'KoHo', sans-serif;
}
#home p{
    margin: 1.5rem 0rem 0rem 0rem;
    color: white;
    text-align:center;
    font-size: 1.5rem;
    font-family: 'KoHo', sans-serif;
}
.homeBtn{
    margin: 3rem 0rem !important;   /*vvimp property to override the property as this margin property was also there in .btn utility class*/
}
/* Services Section  */
.services-container{
    /* border: 4px solid blue; */
    padding: 1.5rem 0rem 0rem 0rem;
    background-color: #fff8dc96;
}
#services{
    /* border: 4px solid red; */
    margin: 1.5rem;
    display: flex;
}
#services .box{
    /* border: 2px solid black; */
    padding: 34px;
    margin: 3px 6px;
    border-radius: 28px;
    /* background-color: ; */
}
#services .box img{
    height: 150px;
    margin: auto;
    display: block;
}
/* Utility Classes */
.h-primary{
    font-size: 3rem;
    /* padding: 12px; */
    font-family: 'KoHo', sans-serif;
}
.h-secondary{
    font-size: 2.5rem;
    padding: 12px;
    font-family: 'KoHo', sans-serif;
}
.btn{
    padding: 6px 20px;
    border:2px solid white;
    background-color: brown;
    color: white;
    margin: 17px 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer; 
}
.center{
    text-align:center;
}











